@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	@model EczaneV3.Entites.Models.Stock.AddStockCardPageModel
}
<!--begin::Careers - Apply-->
<div class="card">
	<div class="card-header border-0 pt-5">
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bolder fs-3 mb-1">Stok Kartı Ekle</span>
		</h3>
	</div>
	<!--begin::Body-->
	<div class="card-body p-lg-17">
		<!--begin::Layout-->
		<div class="d-flex flex-column flex-lg-row">
			<!--begin::Content-->
			<div class="flex-lg-row-fluid me-0">
				<!--begin::Form-->
				<form action="/stock/AddStockCard" class="form mb-15" method="POST">
					<!--begin::Input group-->
					<div class="row mb-5">
						<!--begin::Col-->
						<div class="col-md-12 fv-row">
							<label class="required fs-5 fw-bold mb-2">Stok kodu</label>
							<!--end::Label-->
							<!--begin::Input-->
							<input type="text" class="form-control form-control-solid" placeholder="" name="StockCode" />
							<!--end::Input-->
							<!--begin::Label-->
							<label class="required fs-5 fw-bold mb-2">Eklenecek Stok Kartı ismi</label>
							<!--end::Label-->
							<!--begin::Input-->
							<input type="text" class="form-control form-control-solid" placeholder="" name="Name" />
							<!--end::Input-->
							<!--begin::Label-->
							<label class="required fs-5 fw-bold mb-2">Barkod</label>
							<!--end::Label-->
							<!--begin::Input-->
							<input type="text" class="form-control form-control-solid" placeholder="" name="Barcode" />
							<!--end::Input-->
							<label class="required fs-5 fw-bold mb-2">Açıklama</label>
							<!--end::Label-->
							<!--begin::Input-->
							<input type="text" class="form-control form-control-solid" placeholder="" name="Description" />
							<!--end::Input-->
							<!--end::Input-->
							<label class="required fs-5 fw-bold mb-2">Başlangıç Stok Adet</label>
							<!--end::Label-->
							<!--begin::Input-->
							<input type="text" class="form-control form-control-solid" placeholder="" name="Stock" />
							<!--end::Input-->
							<!--end::Input-->
							<label class="required fs-5 fw-bold mb-2">Satış Fiyatı</label>
							<!--end::Label-->
							<!--begin::Input-->
							<input type="text" class="form-control form-control-solid" placeholder="" name="Price" />
							<!--end::Input-->
							<!--end::Input-->
							<label class="required fs-5 fw-bold mb-2">Kategori</label>
							<!--end::Label-->
							<select name="Category" data-control="select2" data-placeholder="Select a position..." class="form-select form-select-solid">
								@foreach (var item in Model.Categories)
								{
									<option value="@item.Id">@item.Name</option>
								}
							</select>
							<label class="required fs-5 fw-bold mb-2">Marka</label>
							<!--end::Label-->
							<select name="Brand" data-control="select2" data-placeholder="Select a position..." class="form-select form-select-solid">
								@foreach (var item in Model.Brands)
								{
									<option value="@item.Id">@item.Name</option>
								}
							</select>
						</div>
						<!--end::Col-->

					</div>
					<!--end::Input group-->
					<!--begin::Submit-->
					<button type="submit" class="btn btn-primary" id="kt_careers_submit_button">
						<!--begin::Indicator-->
						<span class="indicator-label">Kaydet</span>
						<span class="indicator-progress">
							Please wait...
							<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
						</span>
						<!--end::Indicator-->
					</button>
					<!--end::Submit-->
				</form>
				<!--end::Form-->

			</div>
			<!--end::Content-->

		</div>
		<!--end::Layout-->
	</div>
	<!--end::Body-->
</div>
<!--end::Careers - Apply-->