@{
	ViewData["Title"] = "Category Page";
}

<div class="card">
	<div class="card-header border-0 pt-5">
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bolder fs-3 mb-1">Stok Kartları</span>
			<span class="text-muted mt-1 fw-bold fs-7">Over 500 members</span>
		</h3>
		<div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="" data-bs-original-title="Stok kartı eklemek için tıklayınız">
			<a href="/stock/AddStockCard" class="btn btn-sm btn-light btn-active-primary">
				<!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
				<span class="svg-icon svg-icon-3">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
						<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
						<rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
					</svg>
				</span>
				<!--end::Svg Icon-->Stok Kartı Ekle
			</a>
		</div>
	</div>
	<hr />
	<!--begin::Body-->
	<div class="card-body">
		<!--begin::Layout-->
		<div class="d-flex flex-column flex-lg-row">
			<!--begin::Content-->
			<div class="flex-lg-row-fluid">
				<table id="myTable" class="display" style="width:100%">
					<thead>
						<tr>
							<th>Name</th>
							<th>Barcode</th>
							<th>Brand</th>
							<th>Category</th>
							<th>Price</th>
							<th>Stock</th>
							<th>StockCode</th>
							<th>Stok Ekle</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Name</th>
							<th>Barcode</th>
							<th>Brand</th>
							<th>Category</th>
							<th>Price</th>
							<th>Stock</th>
							<th>StockCode</th>
							<th>Stok Ekle</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$.noConflict();
		$('#myTable').DataTable({
			ajax: '/stock/ListStockFinishData',
			columns: [
				{ data: 'name' },
				{ data: 'barcode' },
				{ data: (data) => data.brand.name },
				{ data: (data) => data.category.name },
				{ data: 'price' },
				{ data: 'stock' },
				{ data: 'stockCode' },
				{ data: (data) => `<a href="/stock/AddStockAmount?id=${data.id}" class="btn btn-bg-light btn-color-muted btn-active-color-primary btn-sm px-4">Ekle</a>` },


			]

		});
	});
</script>